<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Date form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container" >
<form action="#"
      th:action="@{/dateform}"
      th:object="${dateinput}"
      method="post">
    <div class="col-3">
        <input type="hidden" th:field="*{id}" />
    </div>
    <div class="col-3">
        <label id="labelDate">Enter date:</label>
        <input type="date" class="form-control" th:field="*{indate}" placeholder="mm/dd/yyyy"/>
        <span th:if="${#fields.hasErrors('indate')}" th:errors="*{indate}"></span>
    </div>

    <div class="col-3">
    <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
</div>
</body>
</html>