<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
</head>
<body>
<div th:replace="base :: navlinks"></div>

<div class="container">
    <p th:inline="text">You were born on <b>[[${day}]] [[${month}]] [[${dayformat}]], [[${year}]]</b></p>
    <p th:inline="text"><b>Ghanaian names born on [[${day}]]</b></p>
    <p th:inline="text"><span>  Female: [[${femalename}]]</span></p>
    <p th:inline="text"><span>  Male: [[${malename}]]</span></p>
    <p th:inline="text"><span>  Characteristics: [[${characteristics}]]</span></p>

    <p th:inline="text">Your zodiac sign: <b>[[${zodiacsign}]]</b></p>
    <p th:inline="text"><b>[[${zodiacsign}]] today</b><br/> [[${horoscopetoday}]]</p>
    <p th:inline="text"><b>[[${zodiacsign}]] tomorrow</b><br/> [[${horoscopetomorrow}]]</p>
    <!--<p th:inline="text">Year: [[${year}]]</p>-->
    <p th:inline="text">Chinese zodiac sign: <b>[[${chinesezodiac}]]</b></p>
    <!--<p th:inline="text">Day: [[${dayformat}]]</p>-->
    <!--<p th:inline="text">Month: [[${monthformat}]]</p>-->
</div>
<a href="/showhoroscope">Show horoscope</a>
</body>
</html>