<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <!--<link href="/css/stylesheet.css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <!--<link href="/css/stylesheet.css" rel="stylesheet"/>-->
</head>
<body>
<!--<div th:replace="base :: navlinks"></div>-->
<a htef="/">Home</a>

<a href="/dateform">Enter date</a>


<div class="container">
    <p th:inline="text">[[${day}]]</p>
    <p th:inline="text">Year: [[${year}]]</p>
    <p th:inline="text">Chinese zodiac sign: [[${chinesezodiac}]]</p>

</div>

</body>
</html>